# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration (Get a free one at Neon.tech)
DATABASE_URL="postgresql://user:password@hostname:5432/dbname?sslmode=require"

# Cloudinary Configuration (For image uploads)
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=

# Email Configuration (Resend)
RESEND_API_KEY=re_123456789
RESEND_FROM_EMAIL=onboarding@resend.dev

# Google OAuth (Get from Google Cloud Console)
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
